.content_main{
    width: var(--width);
    min-height: var(--height);
    padding: 10vh 12vw;
}

.content_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content_content_section-1{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.content_section_div_1{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_section_div_1 > img{
    width: 90%;
    height: auto;
}

.content_section_div_2{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 2vh;
}

.content_section_div_2_h3{
    color: var(--primary_color);
    text-transform: capitalize;
    font-size: var(--body_heading_font_size);
}

.content_section_div_2_p{
    color:var(--secondary_text_color);
    font-size: var(--body_font-size);
    width: 70%;
    
}


.content_content_section-2{
    width: 100%;
    height: 50vh;  
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;
}

.content_section-2_div_1{
    flex: 2;
    display: flex;
    justify-content: center;
}

#content_section-2_div_1_img{
    width: 50%;
}

.content_section-2_div_2{
}

.content_section-2__div_2_p{
    width: 100%;
}


@media (max-width: 1205px) {

    .content_main{
        padding: 10vh 10vw;
    }

    .content_section_div_1 > img{
        width: 100%;
    }

    .content_section_div_2_p{
        width: 80%;
    }

    #content_section-2_div_1_img{
        width: 60%;
    }

    .content_section-2__div_2_p{
        width: 100%;
    }
}

@media (max-width: 960px) {

    .content_main{
        padding: 10vh var(--padding_RghtLeft);
    }

   
}

@media (max-width: 800px) {

    .content_content_section-1{
        gap: 1vw;
    }

    .content_section_div_2_p{
        width: 100%;
    }

    .content_section-2_div_1{
        flex: 1;

    }

    .content_section-2_div_2{
        flex: 1.5;

    }

    #content_section-2_div_1_img{
        width: 80%;
    }

    .content_section-2__div_2_p{
        width: 100%;
    }


    .content_main{
        padding: 10vh 5vw;
    }

   
}


@media (max-width: 600px) {

    .content_content{
        gap: 10vh;
    }
    .content_content_section-1{
        flex-direction: column;
        height: auto;
        gap: 2vh;
    }
    .content_section_div_1 > img{
        width: 50%;
        height: auto;
    }

    #content_section-2_div_1_img{
        width: 50%;
    }
    .content_section_div_2{
        align-items: center;
    }

    .content_section_div_2_h3{
        text-align: center;
    }
    .content_section_div_2_p{
        text-align: center;
    }
    .content_content_section-2{
        flex-direction: column;
        height: auto;
        gap: 2vh;
    }

}