
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Inter:wght@500;600;700&family=Marcellus&family=Open+Sans:wght@300&family=Roboto+Mono&display=swap');

:root{
  --padding_RghtLeft:5vw;
  --width:100dvw;
  --height:100dvh;
  --primary-font:'Inter', sans-serif;
  --body_font-size:1rem;
  --body_heading_font_size:1.8rem;
  /* navbar*/
  --nav_height:12vh;
  --nav_dropDown_height:88vh;

  /* colors*/
  --primary_color:rgba(107, 60, 201, 1);
  --secondary_color:rgba(242, 141, 53, 1);
  --primary_text_color:#fff;
  --secondary_text_color:#000000;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app_main{
  min-height: 100dvh;
  max-width: 100dvw;
  overflow-x: hidden;
}

.page_style{

}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}